extends layout

block content
	//- .container
	//- 	article.post.post__wrapper(data-cols='4')
	//- 		.post__wrapper_helper.el__transition.post__wrapper_helper--animated
	//- 			.post__preview.el__transition
	//- 				header.post__header
	//- 					h2.post__title
	//- 						a.post__link.post__title_link(href='#')
	//- 							span Hi allll
	//- 				p.post__excerpt
	//- 					a.post__link.post__readmore(href='#') try…
	//- 			footer.post__meta
	//- 				.post__image.el__transition_long.post__image--loaded(style="background-image: url('/img/a_cover.png')")
	
	section.py6.marginBtm
		.container.container-flex.px2.mobile-scroll-container
			.row.mobile-scroll-row
				.project-card-list
					each proj in allProjects
						.mobile-scroll-row-item.col.col-4.project.mb2
							.js-score-tracking.project-card.project-card-tall-big
								.project-thumbnail
									a(href='projects/#{proj.hid}')
										img.project-thumbnail-img(src='#{proj.coverPImg}', width='100%')
								.project-card-content
									h6.project-title
										a(href='projects/#{proj.hid}') #{proj.title}

									p.project-byline
										| #{proj.hoster}
									p.project-blurb
										| #{proj.abstract}
								.project-card-footer
									.project-location
									.project-stats-container
										.project-progress-bar
											.project-percent-pledged(style='width: #{proj.percent}%')
										ul.project-stats
											li
												.project-stats-value
													span.money.eur.no-code &#x24; #{proj.goalmoney}
												span.project-stats-label 目標募集
											li
												.project-stats-value
													span.money.eur.no-code &#x24; #{proj.nowmoney}
												span.project-stats-label 已募得
											li
												.project-stats-value #{proj.percent}%
												span.project-stats-label 完成
					//- .mobile-scroll-row-item.col.col-4.project.mb2
					//- 	.js-score-tracking.project-card.project-card-tall-big
					//- 		.project-thumbnail
					//- 			a(href='projects/10000001')
					//- 				img.project-thumbnail-img(src='./img/a_cover.png', width='100%')
					//- 		.project-card-content
					//- 			h6.project-title
					//- 				a(href='projects/10000001')
					//- 					| 【Loffo x 江峰】舞蹈、創作、重生

					//- 			p.project-byline
					//- 				| 江峰
					//- 			p.project-blurb
					//- 				| 在生涯規劃上，決心走向藝術這條道路。對我而言，舞蹈是一種自我認識，找出自己與世界不同的方式，希望能接觸更多舞蹈訓練，能更加展現自我，並希望可以讓更多人去接觸、喜愛表演藝術。
					//- 		.project-card-footer
					//- 			.project-location
					//- 			.project-stats-container
					//- 				.project-progress-bar
					//- 					.project-percent-pledged(style='width: #{a_project.percent}%')
					//- 				ul.project-stats
					//- 					li
					//- 						.project-stats-value
					//- 							span.money.eur.no-code &#x24; #{a_project.goal}
					//- 						span.project-stats-label 目標募集
					//- 					li
					//- 						.project-stats-value
					//- 							span.money.eur.no-code &#x24; #{a_project.nowMoney}
					//- 						span.project-stats-label 已募得
					//- 					li
					//- 						.project-stats-value #{a_project.percent}%
					//- 						span.project-stats-label 完成
										
										
										
										
					//- .mobile-scroll-row-item.col.col-4.project.mb2
					//- 	.js-score-tracking.project-card.project-card-tall-big
					//- 		.project-thumbnail
					//- 			a(href='projects/10000002')
					//- 				img.project-thumbnail-img(src='./img/b_cover.png', width='100%')
					//- 		.project-card-content
					//- 			h6.project-title
					//- 				a(href='projects/10000002')
					//- 					| 【Loffo x 謝睿哲】攝影、探索、台灣
									
					//- 			p.project-byline
					//- 				| 謝睿哲
					//- 			p.project-blurb
					//- 				| 臺灣有很多大家所不知道的人文、風景，希望可以透過攝影讓大家看到台灣的各個角落，讓我們更加喜愛這塊土地。
					//- 		.project-card-footer
					//- 			.project-location
					//- 			.project-stats-container
					//- 				.project-progress-bar
					//- 					.project-percent-pledged(style='width: #{b_project.percent}%')
					//- 				ul.project-stats
					//- 					li
					//- 						.project-stats-value
					//- 							span.money.eur.no-code &#x24; #{b_project.goal}
					//- 						span.project-stats-label 目標募集
					//- 					li
					//- 						.project-stats-value
					//- 							span.money.eur.no-code &#x24; #{b_project.nowMoney}
					//- 						span.project-stats-label 已募得
					//- 					li
					//- 						.project-stats-value #{b_project.percent}%
					//- 						span.project-stats-label 完成
										
					//- .mobile-scroll-row-item.col.col-4.project.mb2
					//- 	.js-score-tracking.project-card.project-card-tall-big
					//- 		.project-thumbnail
					//- 			a(href='#')
					//- 				img.project-thumbnail-img(src="https://ksr-ugc.imgix.net/projects/2157497/photo-original.jpg?v=1447103894&w=338&h=250&fit=crop&auto=format&q=92&s=93d55ec11517de65f0bc8d40ffb03a52", width='100%')
					//- 		.project-card-content
					//- 			h6.project-title
					//- 				| The Liaisons: a new twist on the old standards
					//- 			p.project-byline
					//- 				| Laura Kemp
					//- 			p.project-blurb
					//- 				| Laura Kemp and Sean Peterson are The Liaisons. Help a folkie and a musicologist make their first CD of all jazz standards!
					//- 		.project-card-footer
		

	
	
	
	