extends layout

block content
	//- .container
	//- 	article.post.post__wrapper(data-cols='4')
	//- 		.post__wrapper_helper.el__transition.post__wrapper_helper--animated
	//- 			.post__preview.el__transition
	//- 				header.post__header
	//- 					h2.post__title
	//- 						a.post__link.post__title_link(href='#')
	//- 							span Hi allll
	//- 				p.post__excerpt
	//- 					a.post__link.post__readmore(href='#') try…
	//- 			footer.post__meta
	//- 				.post__image.el__transition_long.post__image--loaded(style="background-image: url('/img/a_cover.png')")
	
	section.py6.marginBtm
		.container.container-flex.px2.mobile-scroll-container
			.row.mobile-scroll-row
				.project-card-list
					each proj in allProjects
						.mobile-scroll-row-item.col.col-4.project.mb2
							.js-score-tracking.project-card.project-card-tall-big
								.project-thumbnail
									a(href='projects/#{proj.hid}')
										img.project-thumbnail-img(src='#{proj.coverPImg}', width='100%')
								.project-card-content
									h6.project-title
										a(href='projects/#{proj.hid}') #{proj.title}

									p.project-byline
										| #{proj.hoster}
									p.project-blurb
										| #{proj.abstract}
								.project-card-footer
									.project-location
									.project-stats-container
										.project-progress-bar
											.project-percent-pledged(style='width: #{proj.percent}%')
										ul.project-stats
											li
												.project-stats-value
													span.money.eur.no-code &#x24; #{proj.goalmoney}
												span.project-stats-label 目標募集
											li
												.project-stats-value
													span.money.eur.no-code &#x24; #{proj.nowmoney}
												span.project-stats-label 已募得
											li
												.project-stats-value #{proj.percent}%
												span.project-stats-label 完成
	.col-sm-offset-1.col-sm-10.col-xs-12.text-center
		h4
			small 想知道更多素人們新鮮事嗎？趕快前往
	.col-sm-offset-1.col-sm-10.col-xs-12.introBackBtn.text-center
		a.a2a_dd.btn.btn-default(href='/loffogram')
			span.fa.fa-paw
			|   夢想訂閱 