extends layout

block content
	//- .row.jumbotron.jumbotronPeople
	//-   .container
	//-     h2 Discover
	//-     p
	//-     p Meet the people behind NTU LIVE
	//-     p
	.row.jumbotron.jumbotronDiscover
		.container
			h2 為每個千里的夢想找到伯樂
			p
	section.py6.marginBtm
		.container.container-flex.px2.mobile-scroll-container
			.row.mobile-scroll-row
				.project-card-list
					.mobile-scroll-row-item.col.col-4.project.mb2
						.js-score-tracking.project-card.project-card-tall-big
							.project-thumbnail
								a(href='projects/10000001')
									img.project-thumbnail-img(src='./img/a_cover.png', width='100%')
							.project-card-content
								h6.project-title
									a(href='projects/10000001')
										| 【Loffo x 江峰】舞蹈、創作、重生

								p.project-byline
									| 江峰
								p.project-blurb
									| 在生涯規劃上，決心走向藝術這條道路。對我而言，舞蹈是一種自我認識，找出自己與世界不同的方式，希望能接觸更多舞蹈訓練，能更加展現自我，並希望可以讓更多人去接觸、喜愛表演藝術。
							.project-card-footer
								.project-location
								.project-stats-container
									.project-progress-bar
										.project-percent-pledged(style='width: #{a_project.percent}%')
									ul.project-stats
										li
											.project-stats-value #{a_project.percent}%
											span.project-stats-label funded
										li
											.project-stats-value
												span.money.eur.no-code &#x24; #{a_project.nowMoney}
											span.project-stats-label pledged
										li(style='display: none;')
											.project-stats-value Funded
											span.project-stats-label
										
					.mobile-scroll-row-item.col.col-4.project.mb2
						.js-score-tracking.project-card.project-card-tall-big
							.project-thumbnail
								a(href='projects/10000002')
									img.project-thumbnail-img(src='./img/b_cover.png', width='100%')
							.project-card-content
								h6.project-title
									a(href='projects/10000001')
										| 【Loffo x 謝睿哲】攝影、探索、台灣
									
								p.project-byline
									| 謝睿哲
								p.project-blurb
									| 臺灣有很多大家所不知道的人文、風景，希望可以透過攝影讓大家看到台灣的各個角落，讓我們更加喜愛這塊土地。
							.project-card-footer
								.project-location
								.project-stats-container
									.project-progress-bar
										.project-percent-pledged(style='width: #{b_project.percent}%')
									ul.project-stats
										li
											.project-stats-value #{b_project.percent}%
											span.project-stats-label funded
										li
											.project-stats-value
												span.money.eur.no-code &#x24; #{b_project.nowMoney}
											span.project-stats-label pledged
										li(style='display: none;')
											.project-stats-value Funded
											span.project-stats-label
										
					//- .mobile-scroll-row-item.col.col-4.project.mb2
					//- 	.js-score-tracking.project-card.project-card-tall-big
					//- 		.project-thumbnail
					//- 			a(href='#')
					//- 				img.project-thumbnail-img(src="https://ksr-ugc.imgix.net/projects/2157497/photo-original.jpg?v=1447103894&w=338&h=250&fit=crop&auto=format&q=92&s=93d55ec11517de65f0bc8d40ffb03a52", width='100%')
					//- 		.project-card-content
					//- 			h6.project-title
					//- 				| The Liaisons: a new twist on the old standards
					//- 			p.project-byline
					//- 				| Laura Kemp
					//- 			p.project-blurb
					//- 				| Laura Kemp and Sean Peterson are The Liaisons. Help a folkie and a musicologist make their first CD of all jazz standards!
					//- 		.project-card-footer
		

	
	
	
	