extends layout

block content
  .banner.free_jumbo
    .img-preview.text-center(style='background: #{thisProjBackground}')
      img(src='#{thisProjBanner}')
  .container.fundingPage.marginBtm
    if remainMoney>0
      form#paymentbtn.form-horizontal(action='https://payment.allpay.com.tw/QuickCollect/Purchase', method='POST')
        input#QuickPayID(data-val='true', data-val-number='The field QuickPayID must be a number.', data-val-required='QuickPayID 欄位是必要項。', name='QuickPayID', type='hidden', value='#{quickpayid}')
        input#MID(data-val='true', data-val-number='The field MID must be a number.', data-val-required='MID 欄位是必要項。', name='MID', type='hidden', value='1195821')
        //- .form-group
        .col-sm-offset-2.col-sm-8.text-center
          h3 支付贊助
          br
          h4
            small !{payInfo.replace(/\n/g, '<br/>')}
          h4
            small 本專案贊助金額不得大於 #{remainMoney} 元
          br
        .col-sm-offset-2.col-sm-8
          .form-group
            label.col-sm-offset-1.col-sm-3.control-label(for='money') 金額
            .col-sm-4
              input#TradeAMT.form-control(data-val='true', data-val-number='The field TradeAMT must be a number.', data-val-required='TradeAMT 欄位是必要項。', maxlength='8', name='TradeAMT', type='text', placeholder='請填入一元以上之金額')
            //- input.form-control(type='text', name='money', id='money', placeholder='請填入一元以上之金額', autofocus)
        //- .form-group
        //-   label.col-sm-offset-1.col-sm-3.control-label(for='chkm') 確認
        //-   .col-sm-4
        //-     input.form-control(type='checkbox', name='chkm', id='chkm', value='確認付款')
        //-     | 確認付款金額
        //- .form-group
        .form-group
          input#ProductName(name='ProductName', type='hidden', value='#{thisProjHid}')
        h4
          small.col-sm-offset-2.col-sm-8.text-center 
            | 確認贊助金額無誤後，請按「下一步」第三方支付 (建議使用)
          br
          
          small.col-sm-offset-2.col-sm-8.text-center
            | 或者填寫資訊在「台灣大學」附近與我們面交
          br
          br
        .form-group
          .col-sm-offset-5.col-sm-2.text-center
            button#nextStep.btn.btn-success(type='submit', onclick="return submitForm();")
              i.fa.fa-shopping-cart
                |   下一步: 線上支付
        .form-group
          .col-sm-offset-5.col-sm-2.text-center
            h5
              small -------- OR --------
        .form-group
          .col-sm-offset-5.col-sm-2.text-center
            button#inPerson.btn.btn-primary(type='submit',formaction='/inPerson/#{thisProjHid}', onclick="return submitForm_inperson();")
              i.fa.fa-money
                |   台大面交
            //- input(type='button', name='Submit', value='Submit' onclick='javascript: return SubmitForm();')
          //- i.fa.fa-shopping-cart
          //- | 下一步
    else
      .col-sm-offset-2.col-sm-8.text-center
        h4 謝謝您的支持
        h3 本專案已全數募集完成
        br
        br
        a.a2a_dd.btn.btn-default(href='/projects/#{thisProjHid}')
          span.fa.fa-paw
          |   返回探索
  script.
    //- function beforeSubmit(){
    var thisRemainMoneyStr = '!{remainMoney}';
    var uid = '!{user.id}';
    var projHid = '!{thisProjHid}'
    //-   console.log(thisRemainMoney);
    //-   return false;
    //-   return confirm("確認支付金額無誤？");
    //- }

    
  //- .container.container-flex.px2
  //-   .row
  //-     .col.col-8
  //-       img(src='/img/pay.jpg',width='100%')